@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.joystick-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.joystick-button {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.joystick-button:hover {
    background-color: #d1d5db;
    cursor: pointer;
}