[Unit]
Description=Servicio que ejecuta el modo kiosko e inicia la ventana de la cámara.
After=multi-user.target

[Service]
Environment=/home/camara/.Xauthority
User=camara
ExecStart=/bin/bash /home/camara/Kiosko/xterm_init.sh
Restart=always

[Install]
WantedBy=default.target
